/* jQuery List DragSort-Plus v0.6.2*/
/* https://github.com/DigTheDoug/dragsort*/

/* Based off jQuery List DragSort*/
/* jQuery List DragSort v0.5.1*/
/* Website: http://dragsort.codeplex.com/*/
/* License: http://dragsort.codeplex.com/license*/

.moveRightIcon,
.moveLeftIcon,
.dropIcon {
    position: absolute;
    top: 0px;
    width: 10px;
    height: 100%;
    font-size: 18px;
}

.moveRightIcon > div,
.moveLeftIcon > div,
.dropIcon > div{
	position: relative;
	top: 40%;
}

.dropIcon {
	width: 100%;
	text-align: center;
}

.moveRightIcon {
  	right: 0px;
}

.moveLeftIcon {
  	left: 0px;
}

/* 
	For working with Twitter's Bootstrap Thumbnails
	Allows the positioning of the drag and drop icons within thumbnails
	Remove if not needed or not using Bootstrap
 */

.thumbnails {
	position: relative;
}

.thumbnails > li {
	position: relative;
}